/*
Smile Incorporated (additional IE styles)
Ian Yates
December 2011
Tuts+ Premium
*/


.social .skype a {
	background: url(../img/sprite.png) -450px -50px no-repeat transparent;
	}	
	
.social .twitter a {
	background: url(../img/sprite.png) -500px -50px no-repeat transparent;
	}	
	
.social .facebook a {
	background: url(../img/sprite.png) -550px -50px no-repeat transparent;
	}
	
	
	
.social .skype a:hover {
	background: url(../img/sprite.png) -450px -100px no-repeat transparent;
	}	
	
.social .twitter a:hover {
	background: url(../img/sprite.png) -500px -100px no-repeat transparent;
	}	
	
.social .facebook a:hover {
	background: url(../img/sprite.png) -550px -100px no-repeat transparent;
	}		


/*button*/
.contact-form button {
	width: 52px;
	height: 52px;
	line-height: 52px;
	background: url(../img/sprite.png) -373px -23px no-repeat transparent;
	}	
	
.contact-form button:hover {
	background: url(../img/sprite.png) -373px -123px no-repeat transparent;
	}
	
/*get rid of white testimonial bg*/	
.testimonial .slide {
	background: url("../img/subtle_freckles.png") repeat;
	}

/*fix broken clearing floats*/		
section,
footer {
	float: left;
	width: 100%;
	}	
	
	